body {
    background-color: black;
}

.holder {
    height: 300px;
    width: 19%;
    background-color: #161c1f;
    border: outset 3px #2d3a3f;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
}

.upper {
    color: white;
    position: relative;
}

.lower {
    font-family: 'Baskerville Old Face';
    background-color: #222d32;
    border-radius: 10px;
    padding: 15px;
    height: 67%;
    border: inset 3px #d2f9e3;
}

#picture {
    background-color: #222d32;
    height: 50px;
    width: 50px;
    border: inset 2px #d2f9e3;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 5px;
}

#meaning {
    height: -10px;
    display: inline-block;
    font-family: Papyrus;
    position: absolute;
    top: 15px;
    left: 58px;
    margin-left: 10px;
}


.lock {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.remove {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    float:right;
}

#extras > p {
    font-style: italic;
}

ul > li {
    list-style-type: none;
}

.options {
    text-align: center;
    color: #d2f9e3;
    font-family: 'Baskerville Old Face';
}

.options:hover{
    color:white;
    text-decoration:none;
}
